@import "../node_modules/susy/sass/susy";
@import "../node_modules/breakpoint-sass/stylesheets/breakpoint";
@import "utilities";
@import "vars";


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix::after {
    clear: both;
}


/* !BACKGROUNDS */
/* ========================================================================== */
.black-bg { background-color: black !important; }
.white-bg { background-color: white !important; }
/**
 * Use the class below to set a background image on an element
 * and then set the background-image url() inline
 */
.img-bg, .bg-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}
.fixed-bg, .bg-fixed { background-attachment: fixed; }


/* !TEXT FORMATTING */
/* ========================================================================== */
.centre-txt { text-align: center !important; }
.left-txt { text-align: left !important; }
.right-txt { text-align: right !important; }
.black-txt { color: black !important; }
.white-txt { color: white !important; }
.uppercase { text-transform: uppercase !important; }
.lowercase { text-transform: lowercase !important; }
.sm-txt { font-size: 0.875em !important; }
.xs-txt { font-size: 0.75em !important; }
.xxs-txt { font-size: 0.625em !important; }
.lg-txt { font-size: 1.125em !important; }
.xl-txt { font-size: 1.25em !important; }
.xxl-txt { font-size: 1.375em !important; }
.two-column,
.three-column { column-gap: gutter(); }
.two-column {
	column-count: 1;
	@include breakpoint($break-s) { column-count: 2; }
}
.three-column {
	column-count: 1;
	@include breakpoint($break-s) { column-count: 2; }
	@include breakpoint($break-l) { column-count: 3; }
}


/* !IMAGE FORMATTING */
/* ========================================================================== */
.resp-img { max-width: 100%; }


/* !LAYOUT */
/* ========================================================================== */
.inline       { display: inline !important; }
.inline-block { display: inline-block !important; }
.block        { display: block !important; }
.float-left                                        { float: left !important; }
.float-left-sm  { @include breakpoint($break-s)    { float: left !important; } }
.float-left-md  { @include breakpoint($break-m)    { float: left !important; } }
.float-left-lg  { @include breakpoint($break-l)    { float: left !important; } }
.float-left-xl  { @include breakpoint($break-xl)   { float: left !important; } }
.float-left-xxl { @include breakpoint($break-xxl)  { float: left !important; } }
.float-right                                       { float: right !important; }
.float-right-sm  { @include breakpoint($break-s)   { float: right !important; } }
.float-right-md  { @include breakpoint($break-m)   { float: right !important; } }
.float-right-lg  { @include breakpoint($break-l)   { float: right !important; } }
.float-right-xl  { @include breakpoint($break-xl)  { float: right !important; } }
.float-right-xxl { @include breakpoint($break-xxl) { float: right !important; } }
.margin-0 { margin: 0 !important; }
.margin-10 { margin: calcRem(10px) !important; }
.margin-15 { margin: calcRem(15px) !important; }
.margin-20 { margin: calcRem(20px) !important; }
.margin-25 { margin: calcRem(25px) !important; }
.margin-30 { margin: calcRem(30px) !important; }
.margin-50 { margin: calcRem(50px) !important; }
.margin-60 { margin: calcRem(60px) !important; }
.margin-top-0  { margin-top: 0 !important; }
.margin-top-10 { margin-top: calcRem(10px) !important; }
.margin-top-15 { margin-top: calcRem(15px) !important; }
.margin-top-20 { margin-top: calcRem(20px) !important; }
.margin-top-25 { margin-top: calcRem(25px) !important; }
.margin-top-30 { margin-top: calcRem(30px) !important; }
.margin-top-50 { margin-top: calcRem(50px) !important; }
.margin-top-60 { margin-top: calcRem(60px) !important; }
.margin-right-0  { margin-right: 0 !important; }
.margin-right-10 { margin-right: calcRem(10px) !important; }
.margin-right-15 { margin-right: calcRem(15px) !important; }
.margin-right-20 { margin-right: calcRem(20px) !important; }
.margin-right-25 { margin-right: calcRem(25px) !important; }
.margin-right-30 { margin-right: calcRem(30px) !important; }
.margin-right-50 { margin-right: calcRem(50px) !important; }
.margin-right-60 { margin-right: calcRem(60px) !important; }
.margin-bottom-0  { margin-bottom: 0 !important; }
.margin-bottom-10 { margin-bottom: calcRem(10px) !important; }
.margin-bottom-15 { margin-bottom: calcRem(15px) !important; }
.margin-bottom-20 { margin-bottom: calcRem(20px) !important; }
.margin-bottom-25 { margin-bottom: calcRem(25px) !important; }
.margin-bottom-30 { margin-bottom: calcRem(30px) !important; }
.margin-bottom-50 { margin-bottom: calcRem(50px) !important; }
.margin-bottom-60 { margin-bottom: calcRem(60px) !important; }
.margin-left-0  { margin-left: 0 !important; }
.margin-left-10 { margin-left: calcRem(10px) !important; }
.margin-left-15 { margin-left: calcRem(15px) !important; }
.margin-left-20 { margin-left: calcRem(20px) !important; }
.margin-left-25 { margin-left: calcRem(25px) !important; }
.margin-left-30 { margin-left: calcRem(30px) !important; }
.margin-left-50 { margin-left: calcRem(50px) !important; }
.margin-left-60 { margin-left: calcRem(60px) !important; }
.padding-0 { padding: 0 !important; }
.padding-10 { padding: calcRem(10px) !important; }
.padding-15 { padding: calcRem(15px) !important; }
.padding-20 { padding: calcRem(20px) !important; }
.padding-25 { padding: calcRem(25px) !important; }
.padding-30 { padding: calcRem(30px) !important; }
.padding-50 { padding: calcRem(50px) !important; }
.padding-60 { padding: calcRem(60px) !important; }
.padding-top-0  { padding-top: 0 !important; }
.padding-top-10 { padding-top: calcRem(10px) !important; }
.padding-top-15 { padding-top: calcRem(15px) !important; }
.padding-top-20 { padding-top: calcRem(20px) !important; }
.padding-top-25 { padding-top: calcRem(25px) !important; }
.padding-top-30 { padding-top: calcRem(30px) !important; }
.padding-top-50 { padding-top: calcRem(50px) !important; }
.padding-top-60 { padding-top: calcRem(60px) !important; }
.padding-right-0  { padding-right: 0 !important; }
.padding-right-10 { padding-right: calcRem(10px) !important; }
.padding-right-15 { padding-right: calcRem(15px) !important; }
.padding-right-20 { padding-right: calcRem(20px) !important; }
.padding-right-25 { padding-right: calcRem(25px) !important; }
.padding-right-30 { padding-right: calcRem(30px) !important; }
.padding-right-50 { padding-right: calcRem(50px) !important; }
.padding-right-60 { padding-right: calcRem(60px) !important; }
.padding-bottom-0  { padding-bottom: 0 !important; }
.padding-bottom-10 { padding-bottom: calcRem(10px) !important; }
.padding-bottom-15 { padding-bottom: calcRem(15px) !important; }
.padding-bottom-20 { padding-bottom: calcRem(20px) !important; }
.padding-bottom-25 { padding-bottom: calcRem(25px) !important; }
.padding-bottom-30 { padding-bottom: calcRem(30px) !important; }
.padding-bottom-50 { padding-bottom: calcRem(50px) !important; }
.padding-bottom-60 { padding-bottom: calcRem(60px) !important; }
.padding-left-0  { padding-left: 0 !important; }
.padding-left-10 { padding-left: calcRem(10px) !important; }
.padding-left-15 { padding-left: calcRem(15px) !important; }
.padding-left-20 { padding-left: calcRem(20px) !important; }
.padding-left-25 { padding-left: calcRem(25px) !important; }
.padding-left-30 { padding-left: calcRem(30px) !important; }
.padding-left-50 { padding-left: calcRem(50px) !important; }
.padding-left-60 { padding-left: calcRem(60px) !important; }
.max-width-400 { max-width: 400px;}
.max-width-600 { max-width: 600px;}
.max-width-800 { max-width: 800px;}


/* !STYLE ELEMENTS */
/* ========================================================================== */
.box-shadow {
    box-shadow: 0px 5px 15px rgba(black, 0.15);
}

/* !OVERLAYS */
/* ========================================================================== */
[class*='overlay-'] {
    position: relative;
    z-index: 0;
    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: transparent;
        transition: background-color 0.3s ease-out;
        z-index: -1;
    }
}
.overlay-black:before { background-color: rgba(black, 0.3); }
.overlay-black:hover:before { background-color: rgba(black, 0.6); }
.overlay-white:before { background-color: rgba(white, 0.3); }
.overlay-white:hover:before { background-color: rgba(white, 0.6); }
// Static overlays
.overlay-static-black-20:before { background-color: rgba(black, 0.2) !important; }
.overlay-static-black-40:before { background-color: rgba(black, 0.4) !important; }
.overlay-static-black-60:before { background-color: rgba(black, 0.6) !important; }
.overlay-static-black-80:before { background-color: rgba(black, 0.8) !important; }
.overlay-static-white-20:before { background-color: rgba(white, 0.2) !important; }
.overlay-static-white-40:before { background-color: rgba(white, 0.4) !important; }
.overlay-static-white-60:before { background-color: rgba(white, 0.6) !important; }
.overlay-static-white-80:before { background-color: rgba(white, 0.8) !important; }